@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url('~/assets/fonts/FantasqueSansMono-Regular.woff2');
  font-family: 'Fantasque Sans Mono';
  font-style: normal;
}
@font-face {
  src: url('~/assets/fonts/FantasqueSansMono-Italic.woff2');
  font-family: 'Fantasque Sans Mono';
  font-style: italic;
}
@font-face {
  src: url('~/assets/fonts/FantasqueSansMono-Bold.woff2');
  font-family: 'Fantasque Sans Mono';
  font-style: normal;
  font-weight: bold;
}
@font-face {
  src: url('~/assets/fonts/FantasqueSansMono-BoldItalic.woff2');
  font-family: 'Fantasque Sans Mono';
  font-style: italic;
  font-weight: bold;
}

@layer base {
  html {
    font-family: 'Fantasque Sans Mono', monospace;
  }
}
